@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  * {
    color: white;
  }
  
  .name {
    color: #606060;
  }
  
  iframe body {
    background-color: white;
  }
}
