@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  * {
    color: white;
  }
  
  .name {
    zoom: 1.1;
    display: inline;
    font-weight: bold;
    color: #606060;
  }
}
